params {
	samplesheet  = "${projectDir}/samplesheet.csv"
	genome      = "${projectDir}/ref/genome.fa"
	annotation  = "${projectDir}/ref/genes.gtf"
	outdir	     =	"${launchDir}/results"
	adapter_seq = "AGATCGGAAGAGC"
}

profiles {
    conda {
	conda.enabled = true
    }
    test {
	params.samplesheet = "${projectDir}/samplesheet.csv"
        params.genome      = "${projectDir}/ref/genome.fa"
        params.annotation  = "${projectDir}/ref/genes.gtf"
        params.outdir      = "${launchDir}/results_test"
    }
}

process {
	cpus = 4
    	memory = '6 GB'
}
